
.wrap{
	background-color: #2E4053  ;
	overflow-x: scroll;


}
.navi li{
	display: inline;
	margin-left:0; 
	text-decoration: none;
	margin-right :30px;
	font-size: 17px;
	float: left;
	
}
header{
	height: 40px;
	background-color: #95A5A6   ;
	font-family: 'Abril Fatface', cursive;
	font-size:30px;
	float:left;
}
.main , .img {
	background-color : #D6EAF8  ;
	font-family: 'Amiri', serif;
	font-family: 'Vollkorn', serif;
    font-family: 'Domine', serif;
    font-size: 20px;
}

.rol2 {
	margin : 30px 0;
}
.foot{
	background-color: #F0F3F4  ;
}
.head h1{
	font-size: 30px;

}
.foot h3{
	font-size:20px;
	color:coral;
}